<h5>Get in Touch</h5>

<p>
    Feel free to reach out to me on any of the following channels if you have any
    questions, or would like a quote for your project. I do my best to respond within
    the day during the week.
</p>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Email</h5>
        <h6 class="card-subtitle mb-2 text-muted">Send me an email</h6>

        <a class="card-text" href="mailto:wg4568@outlook.com">wg4568@outlook.com</a>
    </div>
</div>