<h5>Get in Touch</h5>

<p>
    Feel free to reach out to me on any of the following channels if you have any
    questions, or would like a quote for your project. I do my best to respond within
    the day during the week.
</p>

<div>
    <div class="row">
        <div class="col-md-6 pb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="icon-envelope"></i>
                        Email
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Send me an email</h6>
                    
                    <a class="card-text" target="_blank" href="mailto:wg4568@outlook.com">wg4568@outlook.com</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 pb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="icon-github"></i>
                        Github
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Follow me on Github</h6>
                    
                    <a class="card-text" target="_blank" href="https://github.com/wg4568">github.com/wg4568</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="icon-instagram"></i>
                        Instagram
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">DM me on Instagram</h6>
                    
                    <a class="card-text" target="_blank" href="https://instagram.com/willg4568">@willg4568</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 pb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="/static/img/fiverr.png" width="17.5px"></i>
                        Fiverr
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Commission me on Fiverr</h6>
                    
                    <a class="card-text" target="_blank" href="https://www.fiverr.com/leap874">Leap874</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h5>Contact me Directly</h5>

<p>
    Alternatively, use this form to reach me directly.
</p>