<div class="jumbotron">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">
        site under construction, last updated 13/11/19
    </p>
    <p><a class="btn btn-lg btn-success" href="/site/contact" role="button">Get in touch</a></p>
</div>


<div class="row">
    <div class="col-lg-6">
        <a href="/site/services/tutoring"><h4>Tutoring</h4></a>
        <p>Looking for San Jose based tutoring in math and computer science?</p>

        <a href="/site/services/discord"><h4>Discord Chatbots</h4></a>
        <p>Discord chatbots that can integrate with APIs or provide custom features for your server.</p>
    </div>

    <div class="col-lg-6">
        <a href="/site/services/web_dev"><h4>Web Development</h4></a>
        <p>Quality web-app development for your product idea or service.</p>

        <a href="/site/services/more"><h4>More</h4></a>
        <p>If it's within my <a href="/site/services/more#skillset">skillset</a>, I'll commission it! Get in touch for a quote.</p>
    </div>
</div>