<div class="jumbotron">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">
        site under construction, last updated 13/11/19
    </p>
    <p><a class="btn btn-lg btn-success" href="/site/contact" role="button">Get in touch</a></p>
</div>


<div class="row">
    <div class="col-lg-6">
        <a href="/site/services"><h4>Tutoring</h4></a>
        <p>Looking for San Jose based tutoring in math and computer science?</p>

        <a href="/site/services"><h4>Discord Chatbots</h4></a>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>

    <div class="col-lg-6">
        <a href="/site/services"><h4>Web Development</h4></a>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <a href="/site/services"><h4>More</h4></a>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>
</div>

