<div class="card-columns">
    <div class="card" style="width: 18rem;">
        <h5 class="card-header">
            Stock Checker
            <a href="/demos/stocks" class="badge badge-success">Live</a>
        </h5>

        <div class="card-body">
            <img src="/static/img/demos/stocks.png" width="100%">
            <p class="card-text">
                Simple tool that checks live stock prices from marketwatch.
                Highlights usage of AJAX to gather information from a server
                and then update a page without refreshing.
            </p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <h5 class="card-header">
            Simple Forum
            <a href="/demos/forum" class="badge badge-success">Live</a>
        </h5>
    
        <div class="card-body">
            <p class="card-text">
                Thrown together in a day or so. Fully functional online forum
                featuring account creation, login, administration, posting images
                and more. Backend is a local SQLite3 database.
            </p>
        </div>
    </div>
</div>