<h5>Portfolio</h5>

<p>
    Below I have listed some previous projects and commission work that I have completed.
    I have a handful of live demos (click the green "live" badge) and a bunch of screenshots.
    You can also click the blue "source" badge to view the source code, if you're into that kind of thing.
</p>

<br/>

<div>
    <div class="row">
        <div class="col-md-5 pb-3">
            <div class="card" style="width: 18rem;">
                <h5 class="card-header">
                    Stock Checker
                    <a href="/demos/stocks" class="badge badge-success">Live</a>
                    <a href="https://github.com/wg4568/wgardner.net/blob/master/templates/demos/stocks.html" target="_blank" class="badge badge-primary">Source</a>
                </h5>
                
                <div class="card-body">
                    <p class="card-text">
                        Simple tool that checks live stock prices from marketwatch.
                        Highlights usage of AJAX to gather information from a server
                        and then update a page without refreshing.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-5 pb-3">
            <div class="card" style="width: 18rem;">
                <h5 class="card-header">
                    Simple Forum
                    <a href="/demos/forum" class="badge badge-success">Live</a>
                    <a href="https://github.com/wg4568/wgardner.net/tree/master/templates/demos/forum" target="_blank" class="badge badge-primary">Source</a>
                </h5>
                
                <div class="card-body">
                    <p class="card-text">
                        Thrown together in a day or so. Fully functional online forum
                        featuring account creation, login, administration, posting images
                        and more. Backend is a local SQLite3 database.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>