<h5>Tutoring</h5>

<p>
    If you live in or around San Jose, I offer tutoring in math and computer science.
    As a student, I am very familiar with the material and can focus sessions to meeting both class and/or AP test requirements.
    I typically tutor the following subjects:
</p>

<ul>
    <li>Integrated Mathematics 1-3</li>
    <li>AP Calculus AB</li>
    <li>AP Calculus BC</li>
    <li>AP Computer Science A</li>
</ul>

<p>
    I charge $40/hour, with a typical session being one hour long.
    To schedule a lesson or to inquire further, feel free to reach out to me <a href="/site/contact">here</a>.
</p>

<h5>Web Development</h5>