<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        
        <title>William Gardner | {{ title }}</title>
    </head>
    
    <style>
        body {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        
        .header {
            padding-bottom: 1rem;
            border-bottom: .05rem solid #e5e5e5;          
        }

        .content {
            padding-top: 1rem;
        }

        /* Customize container */
        @media (min-width: 48em) {
            .container {
                max-width: 46rem;
            }
        }
  
    </style>

    <body>
        <div class="container">
            <div class="header clearfix">
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link {%if page=='home'%}active{%endif%}" href="/site/home">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {%if page.startswith('services')%}active{%endif%}"
                           data-toggle="dropdown" href="#" role="button">Services</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/site/services/tutoring">Tutoring</a>
                            <a class="dropdown-item" href="/site/services/web_dev">Web Development</a>
                            <a class="dropdown-item" href="/site/services/discord">Discord Bots</a>
                            <a class="dropdown-item" href="/site/services/more">More</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {%if page=='portfolio'%}active{%endif%}" href="/site/portfolio">Portfolio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {%if page=='contact'%}active{%endif%}" href="/site/contact">Contact</a>
                    </li>
                </ul>

                <h3 class="text-muted">William Gardner</h3>
            </div>

            <div class="content">
                {{ content | safe }}
            </div>
        </div>

        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/jquery-3.4.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>