<style>
	.liked {
		color: red;
	}

	.disable-select {
		user-select: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
</style>

<span class="h5">Viewing Post</span>
<a id="back" role="button" class="btn btn-sm btn-secondary ml-2" href="/demos/forum">Go Back</a>
<br/><br/>

<div style="width: 36rem">
	<div class="card">
		{% if post.image %}
			<img class="card-img-top" width="100%" src="{{ post.image }}">
		{% endif %}
		<div class="card-body">
			<a href="/demos/forum/post/{{ post.pkey }}" class="h5 card-title">{{ post.title }}</a>
			<p class="card-text">{{ post.content }}</p>
			<h6 class="card-subtitle mt-1 mb-2 text-muted disable-select" onclick="like_post('{{ post.pkey }}')">
				<i class="icon-heart {% if post.pkey in user.liked_posts %}liked{% endif %}" id="heart-{{ post.pkey }}"></i>
				<span id="likes-{{ post.pkey }}" class="{% if post.pkey in user.liked_posts %}liked{% endif %}">{{ post.likes }}</span>
			</h6>
		</div>
		
		<div class="card-footer text-muted">
			<a href="/demos/forum/user/{{ post.username }}?back=/demos/forum/post/{{ post.pkey }}">{{ post.username }}</a>
			@ {{ post.date }} {{ post.time }}
		</div>
	</div>

	<form class="mt-4" method="POST">
		<div class="input-group">
			<input type="text" class="form-control" name="comment" placeholder="Comment...">
			<div class="input-group-append">
				<button class="btn btn-primary" type="button">Comment</button>
			</div>
		</div>
	</form>

	<div class="list-group mt-3">
		{% for comment in comments %}
			<div class="list-group-item align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<a href="/demos/forum/user/{{ comment.username }}?back=/demos/forum/post/{{ post.pkey }}" class="h6 mb-1">{{ comment.username }}</a>
					<small>{{ comment.date }} {{ comment.time }}</small>
				</div>

				<p class="mb-1">{{ comment.content }}</p>
			</div>
		{% endfor %}
	</div>

	<br/>
</div>

<script>
    function like_post(pkey) {
		var likes = parseInt($(`#likes-${pkey}`).text())
		var params = new URLSearchParams(window.location.search)

		if ($(`#heart-${pkey}`).hasClass('liked')) {
			$(`#heart-${pkey}`).removeClass('liked')
			$(`#likes-${pkey}`).removeClass('liked')

			$(`#likes-${pkey}`).text(likes - 1)

			$.post(`/demos/forum/post/${pkey}/unlike`)
		} else {
			$(`#heart-${pkey}`).addClass('liked')
			$(`#likes-${pkey}`).addClass('liked')

			$(`#likes-${pkey}`).text(likes + 1)

			$.post(`/demos/forum/post/${pkey}/like`)
		}
	}
</script>